/* Deafult CSS */

body {
  overflow-x: hidden;
  background-color: #ffffff;
}

body, html {
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

p {
  margin: 0px;
}

ul, li {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  cursor: pointer;
}

/* Shared Styles */
.container {
  width: 1140px;
  margin: 0 auto;
}

.text-dark {
  color: #0D1321;
}

.text-white {
  color: #ffffff;
}

.text-center {
  text-align: center;
}

.btn-primary {
  padding: 17px 24px;
  background-color: transparent;
  font-size: 20px;
  line-height: 1.5;
  border: 1px solid #0D1321;
  border-radius: 8px;
  font-weight: 600;
  color: #0D1321;
}

.btn-secondary {
  padding: 17px 24px;
  background-color: #0D1321;
  font-size: 20px;
  line-height: 1.5;
  border: 1px solid #0D1321;
  border-radius: 8px;
  font-weight: 600;
  color: #ffffff ;
}

.section-heading {
  margin: auto 47px;
}

.section-title {
  font-size: 32px;
  line-height: 1.5;
  font-weight: 800;
  margin-bottom: 24px;
}

.section-content {
  font-size: 16px;
  line-height: 1.5;
}

.bg-red {
  background-color: rgba(255, 76, 30, 5%);
}

.bg-blue {
  background-color: rgba(0, 76, 232, 5%);
}

.bg-yellow {
  background-color: rgba(255, 223, 0, 5%);
}

.azeret-mono-regular {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Header Styles */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0px;
}

.logo {
  font-size: 28px;
  line-height: 1.5;
  font-weight: 800;
}

/* Banner Styles */
.banner {
  background-image: url(../assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.banner-content {
  padding: 26px 97px 45px;
  text-align: center;
}

.banner-content img {
  margin-bottom: 32px;
}

.banner-title {
  font-size: 48px;
  line-height: 1.5;
  font-weight: 800;
}

.banner-description {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  margin: 24px 0px 32px;
}

/* Why Web Development Styles */
.why-web-dev-content {
  padding: 80px 97px;
  background-color: rgba(13, 19, 33, 2%);
  margin-top: 74px;
}

.why-web-dev-boxes {
  margin-top: 48px;
}

.why-web-dev-box {
  padding: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.why-web-dev-box.right-align {
  flex-direction: row-reverse;
  justify-content: flex-end;
  column-gap: 32px;
}

.why-web-dev-box .box-contents {
  max-width: 477px;
}

.why-web-dev-box .box-title {
  font-size: 24px;
  line-height: 1.5;
  color: rgba(13, 19, 33, 70%);
  font-weight: 700;
}

.why-web-dev-box .box-content {
  font-size: 16px;
  line-height: 1.5;
  margin: 16px 0px 32px;
}

.why-web-dev-box .box-btn {
  font-size: 20px;
  line-height: 1.5;
  padding: 12px 20px;
  color: #0D1321;
  background-color: transparent;
  border: 1px solid #0D1321;
  display: inline-block;
}

/* My Inspiration Styles */
.my-inspire {
  margin-top: 90px;
}

.my-inspire-video {
  margin-top: 48px;
  border: 1px solid rgba(13, 19, 33, 20%);
  padding: 32px;
  border-radius: 16px;
}

.my-inspire-video iframe {
  border-radius: 16px;
}

/* Current Target Style */
.current-target {
  margin-top: 151px;
}

.current-target-boxes {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 24px;
}

.current-target-box {
  width: calc(33.33% - 24px);
  padding: 40px;
  text-align: left;
  border-radius: 16px;
}

.current-target-box .box-title {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 800;
}

.current-target-box .box-content {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  margin-top: 8px;
}

.current-target-box .box-btn {
  font-size: 16;
  line-height: 1.5;
  font-weight: 600;
  text-decoration: underline;
  margin-top: 24px;
}

/* Next Target Styles */
.next-target {
  margin-top: 111px;
}

.next-target-boxes {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.next-target-box {
  border: 1px solid rgba(13, 19, 33, 15%);
  border-radius: 16px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 24px;
}

.next-target-box .box-title {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 800;
}

.next-target-box .box-content {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  margin-top: 8px;
}

.next-target-box .box-btn {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  margin-top: 24px;
  text-decoration: underline;
}