/* Deafult CSS */

body {
  overflow-x: hidden;
  background-color: #ffffff;
}

body, html {
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

p {
  margin: 0px;
}

ul, li {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  cursor: pointer;
}

/* Shared Styles */
.container {
  width: 1140px;
  margin: 0 auto;
}

.text-dark {
  color: #0D1321;
}

.text-white {
  color: #ffffff;
}

.btn-primary {
  padding: 17px 24px;
  background-color: transparent;
  font-size: 20px;
  line-height: 1.5;
  border: 1px solid #0D1321;
  border-radius: 8px;
  font-weight: 600;
  color: #0D1321;
}

.btn-secondary {
  padding: 17px 24px;
  background-color: #0D1321;
  font-size: 20px;
  line-height: 1.5;
  border: 1px solid #0D1321;
  border-radius: 8px;
  font-weight: 600;
  color: #ffffff ;
}

.azeret-mono-regular {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Header Styles */
header {
  padding: 50px 0px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 28px;
  line-height: 1.5;
  font-weight: 800;
}

/* Banner Styles */
.banner {
  background-image: url(../assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.banner-content {
  padding: 26px 97px 45px;
  text-align: center;
}

.banner-content img {
  margin-bottom: 32px;
}

.banner-title {
  font-size: 48px;
  line-height: 1.5;
  font-weight: 800;
}

.banner-description {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  margin: 24px 0px 32px;
}